<link rel="stylesheet" href="../assets/css/style.css">
<div class="card">
    <div class="card-body">
        <h5 class="card-title">This First Heading</h5>
        <h5 class="card-title-grey">Will Cath Your Eye</h5>
        <p class="card-text">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
            euismod semper. Praessent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac
            cursus commodo.</p>
    </div>
    <div>
        <!-- <img class="style-img" src="../assets/img/1.jpg"> -->
        <img class="style-img"
            src="https://ih1.redbubble.net/image.2149517456.9688/st,small,507x507-pad,600x600,f8f8f8.jpg">
    </div>
</div>