<div class="container-fluid my-5 p-5 bg-white" >
<link rel="stylesheet" href="../assets/css/style.css">
<div class="card">
    <div class="card-body">
        <h5 class="card-title-services">The Second Heading</h5>
        <h5 class="card-title-grey-services">is Pretty Cool Too.</h5>
        <p class="card-text-services">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta
            felis euismod semper. Praessent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
            tellus ac cursus commodo.</p>
    </div>
    <div>
        <!-- <img class="style-img" src="../assets/img/2.jpg"> -->
        <img class="style-img-services"
            src="https://previews.123rf.com/images/nexusplexus/nexusplexus1303/nexusplexus130301798/18745771-haga-clic-en-manos-de-un-hombre-en-un-teclado-con-retroiluminaci%C3%B3n-azul.jpg">
    </div>
</div>
</div>