<div class="bg-white">
    
    <div class="d-flex align-items-center justify-content-center text-center g-0">
        <img height="600px" src="./assets/img/bg.jpg" class="w-100" alt="..."> 
        <div class="position-absolute px-4 w-100 mx-1 my-5">
            <div class="bg-white mt-3">
                <h1 class="display-1 fw-bold">One Page Wonder</h1>
            </div>
            <div class="bg-white my-4">
                <h4 class="display-4 fw-bold">Knock Your Socks Off</h4>
            </div>
        </div>
    </div>
    
</div>